<div class="cont-div">
    <p class="title">Benvenuto nel nostro birrificio!</p>
    <p class="par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquid fugit tempore, nemo quibusdam facere
        nisi unde facilis aut quidem. Non earum maxime delectus, aliquid voluptates consectetur nam praesentium
        corporis.
    </p>
    <p class="par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquid fugit tempore, nemo quibusdam facere
        nisi unde facilis aut quidem. Non earum maxime delectus, aliquid voluptates consectetur nam praesentium
        corporis.
    </p>
    <p class="par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquid fugit tempore, nemo quibusdam facere
        nisi unde facilis aut quidem. Non earum maxime delectus, aliquid voluptates consectetur nam praesentium
        corporis.
    </p>
</div>